html
    head
    body
      
        <h1> Znanjdz Swoj Telefon w Wymarzonej Cenie </h1>
        <br><br><br>

        <h2>Lecz najpierw sie zarejestruj </h2>

        <!-- Login -->

            <form action='/application' method="POST" name="form">

            <label for="email">Email:</label>
            <input type="text" id="email" name="email"><br><br>

            <label for="password">Haslo:</label>
            <input type="password" id="password" name="password"><br><br><br>

            <input type="submit" value="Rejestruj"> 

            </form>
        

        </form>


        <br> <br>
        <a href="/kontact"> Kontakt</a>

