html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700")
        link(rel="stylesheet" href="/css/main.css")
    body
        <h1> Znanjdz Swoj Telefon w Wymarzonej Cenie </h1>
        <br><br><br>

        <h2>Lecz najpierw sie zarejestruj </h2>

        <!-- Login -->

            <form action='/application' method="POST" name="form">

            <label for="email">Email:</label>
            <input type="text" id="email" name="email"><br><br>

            <label for="password">Haslo:</label>
            <input type="password" id="password" name="password"><br><br><br>

            <input type="submit" value="Rejestruj"> 

            </form>
        

        </form>


        <font color="red">

            if(formMessage.length)
    .lightbox(v-show="showFeedback")
        .lightbox_content
        h2.lightbox_header #{ formMessage}
        .lightbox_actions.lightbox_actions--centered
        
        </font>

        <br> <br>
        <a href="/kontact"> Kontakt</a>

